#content {
    margin: 0 auto;
    width: 900px;
}
body{
    font-family: Georgia, serif;
    font-size: 13px;
}
blockquote{
    font-size: 30px;
    font-weight: 300;
    line-height: 2;
    color: darkred;
}
p{
    line-height: 3;
}
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}
#byline{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}
h2 {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: darkred;
}
.caption {
    font-family: Georgia, serif;
    font-size: 12px;
    line-height: 1.5;
    color: #606060;
}
br{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 10px;
}
.imagetop{
    width: 900px;
    padding-top: 5%;
}
.image2{
    width: 900px;
    text-align: center;
}
.image1{
    width: 900px;
    text-align: center;
}
.image3{
    width: 900px;
    text-align: center;
}
a{
    color: black;
}
ul{
    line-height: 2;
}